<h1 class="dictionary_header"> {{ _('Dictionary_header') }} ({{ _('langname_even') }})</h1>
<h2 class="dictionary_letter">B</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">bisin</td><td></td><td></td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">E</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">elektrostancijade</td><td></td><td></td><td>1</td></tr>
<tr>
<td class="dictionary_lemma">emuriten.</td><td></td><td></td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">K</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">kinowde</td><td></td><td></td><td>1</td></tr>
<tr>
<td class="dictionary_lemma">krasnaj.jarangake</td><td></td><td></td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">R</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">russian</td><td></td><td></td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">T</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">tarakamke</td><td></td><td></td><td>1</td></tr>
<tr>
<td class="dictionary_lemma">Twajaːndụlake</td><td></td><td></td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">U</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">umekič</td><td></td><td></td><td>1</td></tr>
<tr>
<td class="dictionary_lemma">Umekičeː</td><td></td><td></td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">Ọ</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">ọːddanasi</td><td></td><td></td><td>1</td></tr>
</tbody>
</table>
<h2 class="dictionary_letter">Ụ</h2>
<table class="dictionary_table">
<thead>
<th>{{ _('word_th_lemma') }}</th><th>{{ _('word_th_gr') }}</th><th>{{ _('word_th_trans_en') }}</th><th>{{ _('word_th_frequency') }}</th></thead>
<tbody>
<tr>
<td class="dictionary_lemma">ụkal</td><td></td><td></td><td>1</td></tr>
</tbody>
</table>
